<p>This is the partial for view 1.</p>
<p><div>
    <button type="button" ng-click="getListsOnBoard()" class="btn" id="createCard">Create Cards</button>
</div>
</p>
<p>
<div>
    <button type="button" ng-click="moveUnknownCards()" class="btn" id="updateCards">Update Cards</button>
</div>
</p>
<p>
<div>
    <button type="button" ng-click="resetCards()" class="btn" id="reset">Reset Cards</button>
</div>
</p>

<div class="alert alert-error" ng-show="isShowError" ng-click="closeErrorMessage()">
    {{ errorMessage }}
</div>

<div class="list-group" ng-repeat="l in listIds">
    <p>
        [{{l.name}}] - [{{l.id}}]
    </p>
</div>
